.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.ShadowsocksX/
.Trash/
.WhistleAppData/
._Doc/
._macrc/
.babel.json
.bash_history
.bash_sessions/
.cache/
.config/
.gitconfig
.inputrc
.lesshst
.node-gyp/
.npm/
.npmrc
.nvm/
.oh-my-zsh/
.pyenv/
.sh_history
.ssh/
.swc
.swd
.swe
.swf
.swg
.swh
.swi
.swj
.swk
.swl
.swm
.swn
.swo
.swp
.temp.log.swp
.test1.log
.tmux.conf-bak
.v8flags.5.5.372.43.f6c077db8a651291b5437f578de033e0.json
.v8flags.5.5.372.43.lihaibo.json
.v8flags.5.8.283.41.f6c077db8a651291b5437f578de033e0.json
.viminfk.tmp
.viminfl.tmp
.viminfm.tmp
.viminfn.tmp
/viminfo
.viminfo.tmp
.viminfp.tmp
.viminfq.tmp
.viminfr.tmp
.viminfs.tmp
.viminft.tmp
.viminfu.tmp
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.vimperator/
.w3m/
.wget-hsts
.yarnrc

*zcompdump*

.zsh-update
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Var/
lihaibo/
node_modules/
package-lock.json
per.js
test.html
test.js
vimwiki/
yarn.lock

*.swp
*.*
wget-log
var/
vimrc/
source/
README.md
tmp/
ng
typescript
work
文档
